body {
    background-color: #3F5B6C; margin: 0px;
    background-image: url('Images/Background_web.png');
}

svg:hover{
    width: 29px; 
}

svg {
    padding:10px;
    fill: white;
    width: 30.5px;
}

.icons {
    width: 75px;
    background-color: rgb(127, 134, 140);
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "l"
    "i"
    "m";}

.insta {
    grid-area: i
    }

.mail {
    grid-area: m
    }

.linkedin {
    grid-area: l
    }

h1 {
    font-family: "Jura", serif;
    font-size: 70px;
    color:white;
    font-weight: 400;
    font-optical-sizing: auto;
    }
h2 {
    font-family: "Montserrat", serif;
    font-size: 20px;
    color: white;
    font-weight: 350;
    font-optical-sizing: auto;
    }