body {background-color: cadetblue;}

svg { 
    stroke:blue;
}

svg:hover{
    stroke: brown
}

h1 {
    font-family: "Jura", serif;
    font-size: 70px;
    color:white;
    font-weight: 400;
    font-optical-sizing: auto;
    }
h2 {
    font-family: "Montserrat", serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
    font-optical-sizing: auto;
    }